<?xml version="1.0"?>
<launch>
    <!-- yourself lgsvl path -->
    <param name="lgsvl_simulator_dir" value="$(env HOME)/Libraries/LGSVL/svlsimulator-linux64-2021.3"/>

    <node pkg="lgsvl_simulator_bridge" type="rqt_lgsvl_simulator_configurator" name="rqt_lgsvl_simulator_configurator_node">
    </node>
</launch>
